<div id="header" class="d-flex justify-content-between">
  <span>Rooms</span>
  <app-room-add-button></app-room-add-button>
</div>
<div *ngFor="let room of rooms" class="list-group">
  <app-room-list-item
    [room]="room"
    [showLeave]="user && user.room && user.room._id === room._id"
    [showEdit]="user && user.room && user.room._id === room._id && user.room.owner === user._id"
    (roomClick)="onRoomClick($event)"
    (roomLeaveClick)="onRoomLeaveClick($event)">
  </app-room-list-item>
</div>
