<!--The content below is only a placeholder and can be replaced.-->
<ng-template #chatroom>
  <div *ngFor="let message of messages">
    <app-message [message]="message"></app-message>
  </div>

  <input #chatText (keyup.enter)="onChatEnter(chatText.value); chatText.value=''">
</ng-template>

<ng-template #nickname>
  <label>Enter your desired nickname: </label>
  <input #nickname (keyup.enter)="onNicknameEnter(nickname.value); nickname.value=''">
</ng-template>

<div *ngIf="connected; then chatroom else nickname"></div>
