.user-item {
  height: 32px;
  background-color: rgba(0, 0, 0, 0.1);

  .user-button {
    font-weight: normal;
    color: #ffffff;
    flex-grow: 1;
    text-decoration: none;
    background: transparent;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.room-leave-button {
  color: rgba(255, 255, 255, 0.3);
  z-index: 99;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  &:active {
    color: rgba(255, 255, 255, 1);
  }
}

.room-item {
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);

  .room-button {
    font-weight: bold;
    color: #ffffff;
    flex-grow: 1;
    text-decoration: none;
    background: transparent;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
