<div class="list-group-item list-group-item-action d-flex justify-content-between room-item">
  <button class="room-button" (click)="onClick($event)">
    <span>{{ room.name }}</span>
  </button>
  <button *ngIf="showLeave" href="#" class="room-leave-button">
    <i class="fa fa-sign-out" aria-hidden="true" (click)="onLeaveClick($event)"></i>
  </button>
</div>
<div *ngFor="let user of room.users" class="list-group-item list-group-item-action d-flex justify-content-between user-item">
  <button class="user-button">
    <span>{{ user.nickname }}</span>
  </button>
</div>
