<div class="list-group-item list-group-item-action d-flex justify-content-between room-item">
  <button class="room-name" (click)="onClick($event)">
    <i *ngIf="room.hasPassword" class="fa fa-lock" aria-hidden="true"></i>
    {{ room.name }}
  </button>
  <div class="room-buttons">
    <app-room-edit-button *ngIf="showEdit"></app-room-edit-button>
    <button title="Leave this room" *ngIf="showLeave" class="room-button" (click)="onLeaveClick($event)">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </button>
  </div>
</div>
<div *ngFor="let user of room.users" class="list-group-item list-group-item-action d-flex justify-content-between user-item">
  <button class="user-button">
    <span>
      <i *ngIf="room.owner === user._id" class="fa fa-star" aria-hidden="true"></i>
      {{ user.nickname }}
      <i *ngIf="user.isTyping" class="fa fa-keyboard-o user-badge" aria-hidden="true"></i>
    </span>
    <div class="user-buttons hover-only">
      <button title="Kick from the room" *ngIf="showEdit" class="room-button" (click)="onKickClick($event, user)">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
    </div>
  </button>
</div>
