$room-background: #454545;
$room-button: rgba(255, 255, 255, 0.2);
$room-button-hover: rgba(255, 255, 255, 0.4);
$room-button-active: rgba(255, 255, 255, 1);
$room-text: #ffffff;
$user-badge: rgba(255, 255, 255, 0.4);
$user-background: #252525;

.user-item {
  height: 32px;
  background-color: $user-background;

  .user-button {
    font-weight: normal;
    color: #ffffff;
    flex-grow: 1;
    text-decoration: none;
    background: transparent;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .hover-only {
    display: none;
  }

  &:hover {
    .hover-only {
      display: block;
    }
  }
}

.user-badge {
  color: $user-badge;
}

button {
  color: $room-button;
  z-index: 99;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    color: $room-button-hover;
  }

  &:active {
    color: $room-button-active;
  }
}

.user-buttons {
  top: 2px;
  right: 0;
  position: absolute;
  z-index: 99;
  background-color: $user-background;
}

.room-buttons {
  right: 0;
  position: absolute;
  z-index: 99;
  background-color: $room-background;
}

.room-item {
  height: 32px;
  background-color: $room-background;
  padding-left: 5px;

  .room-name {
    position: absolute;
    font-weight: bold;
    color: $room-text;
    text-decoration: none;
    background: transparent;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 0;
    width: calc(100% - 5px);
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  .hover-only {
    display: none;
  }

  &:hover {
    .hover-only {
      display: block;
    }
  }
}
