<div class="container page-small">
  <h1>Login</h1>
  <hr>
  <form [formGroup]="form">
    <div *ngIf="error.length > 0" class="alert alert-danger" role="alert">
      <strong>Oh no!</strong> {{ error }}
    </div>

    <div class="form-group" [ngClass]="{'has-danger': !form.controls.username.valid && form.controls.username.dirty}">
      <label class="form-control-label" for="usernameInput">Username:</label>
      <input id="usernameInput" type="text" class="form-control" formControlName="username" required autofocus>
    </div>

    <div class="form-group" [ngClass]="{'has-danger': !form.controls.password.valid && form.controls.password.dirty}">
      <label class="form-control-label" for="passwordInput">Password:</label>
      <input id="passwordInput" type="password" class="form-control" formControlName="password">
    </div>

    <button type="submit" class="btn btn-block btn-primary" [disabled]="busy" (click)="onLogin($event)">
      Login
    </button>

    <button routerLink="/signup" type="submit" class="btn btn-secondary btn-block" [disabled]="busy">
      Sign Up
    </button>
  </form>
</div>
