<div *ngIf="user !== undefined && user.room !== undefined && user.room.id">
  <div id="roomInfo">
    <h4 id="roomTitle">{{ user.room.name }}</h4>
    <small>{{ user.room.description }}</small>
  </div>
  <div id="messageList" ngx-auto-scroll>
    <div *ngFor="let message of (messages | room:user.room.id)">
      <app-message [message]="message" [showOptions]="message.user === user._id"></app-message>
    </div>
  </div>
  <input #content class="form-control chatboxText" type="text" placeholder="Type a message" [(ngModel)]="content.value" (ngModelChange)="onMessageChanged($event)" (blur)="onUserStoppedTyping()" (keyup.enter)="onMessageEntered(content.value); content.value = ''; onUserStoppedTyping();">
</div>
