nav {
  height: 100%;
  padding: 10px;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.room-list {
  .list-group-item {
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    height: 30px;
  }

  .list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .list-group-item:active {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .user-item {
    background-color: inherit;
    padding-left: 21px;

    img {
      margin-right: 5px;
    }
  }
}

.typing {
  font-style: italic;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 0.3rem;
}