@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/angular2-toaster/toaster';

.page-small {
  margin-top: 10vh;
  max-width: 480px;
}

::-webkit-scrollbar-track
{
	background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.3);
}
