.list-group-item {
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-weight: bold;
}

  .user {
    height: 32px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: normal;
    font-size: smaller;
  }
