<div class="message media">
  <div *ngIf="message.icon" class="d-flex mr-3 profile-picture" alt="" [ngStyle]="{'background-image': 'url(' + message.icon + ')'}"></div>
  <div class="media-body">
    <span class="nickname">{{ message.nickname }}</span> <small class="text-muted">{{ message.time | timeAgo }}</small>
    <div *ngIf="showOptions" class="message-options hover-only">
      <button title="Edit message" (click)="onClickEdit($event)" [disabled]="busy" *ngIf="!edit">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
      <button title="Delete message" (click)="onClickDelete($event)" [disabled]="busy">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </div>
    <br />
    <form class="form-group" [formGroup]="form" *ngIf="edit">
      <div class="form-group">
        <textarea #edit class="form-control" id="editor">{{ message.content }}</textarea>
      </div>
      <button class="btn btn-primary" (click)="onEditSave(edit.value)" [disabled]="busy || !form.valid">Save</button>
      <button class="btn btn-secondary" (click)="onEditCancel($event)" [disabled]="busy">Cancel</button>
    </form>
    <div *ngIf="!edit">
      <markdown [data]="safeContent">
      </markdown>
    </div>
  </div>
</div>
