<app-notify></app-notify>

<div class="container page-small" *ngIf="disconnected">
  <h1>Disconnected</h1>
  <p>You have been disconnected from the chat. <a href="#">Refresh</a> this page to rejoin the chat.</p>
</div>

<div *ngIf="!disconnected" class="container-fluid">
  <ng-template #content>
    <div class="row">
      <nav class="sidebar">
        <app-sidebar></app-sidebar>
      </nav>
      <div class="content">
        <app-room></app-room>
      </div>
    </div>
  </ng-template>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>

  <div *ngIf="loading; then loader else content"></div>
</div>
