<div class="container page-small">
  <h1>Sign Up</h1>
  <hr>
  <form [formGroup]="form">
    <div class="form-group" [ngClass]="{'has-danger': !form.controls.email.valid && form.controls.email.dirty}">
      <label class="form-control-label" for="emailInput">E-mail Address:</label>
      <input id="emailInput" type="email" class="form-control" placeholder="example@mail.com" formControlName="email" required autofocus>
    </div>

    <div class="form-group" [ngClass]="{'has-danger': !form.controls.password.valid && form.controls.password.dirty}">
      <label class="form-control-label" for="passwordInput">Password:</label>
      <input id="passwordInput" type="password" class="form-control" formControlName="password">
    </div>

    <div class="form-group" [ngClass]="{'has-danger': !form.controls.confirm.valid && form.controls.confirm.dirty}">
      <label class="form-control-label" for="confirmInput">Confirm Password:</label>
      <input id="confirmInput" type="password" class="form-control" formControlName="confirm">
    </div>

    <button type="submit" class="btn btn-block btn-primary">
      Sign Up
    </button>

    <button routerLink="/login" type="submit" class="btn btn-secondary btn-block">
      Back to Log In
    </button>
  </form>
</div>
